apiVersion: v1
kind: Service
metadata:
  name: tetris
  labels:
    {{- include "tetris.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "tetris.selectorLabels" . | nindent 4 }}
